.about {
  padding-bottom: 1em;
  position: relative;
}

.title-container {
  margin-left: 5em;
  margin-top: 3.4em;
  margin-bottom: 5em;
}

.title {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.5;
}

.title h1 {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(to right,#13c16a, #086235);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  line-height: 1.5;
  animation: typewriter3 2s steps(25) forwards;
  width: 0;
}

.title .emoji {
  font-size: 40px;
  visibility: hidden;
  margin-left: 10px;
  animation: showEmoji3 0.1s ease-in 2s forwards;
}

@keyframes typewriter3 {
  to {
    width: 100%;
  }
}

@keyframes showEmoji3 {
  from {
    visibility: hidden;
    transform: translateY(20px);
  }
  to {
    visibility: visible;
    transform: translateY(0);
  }
}

.CV-btn {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  font-weight: 600;
  border-radius: 50px;
  border: 2px solid #13c16a;
  padding: 14px 40px 13px;
  overflow: hidden;
  position: relative;
  margin-left: 5em;
}

.CV-btn:hover {
  color: #13c16a;
}

.CV a::before {
  position: absolute;
  content: "";
  z-index: 0;
  background-color: #13c16a;
  left: -5px;
  right: -5px;
  bottom: -5px;
  height: 111%;
  transition: all .3s ease;
}

.CV a:hover::before {
  height: 11%;
}

.CV span {
  position: relative;
  z-index: 2;
  transition: all .3s ease;
}

@media screen and (max-width: 1200px) {
  .title-container {
    margin-left: 3em;
  }
  
  .title h1, .title .emoji {
    font-size: 35px;
  }
}

@media screen and (max-width: 992px) {
  .title-container {
    margin-left: 2em;
  }
  
  .title h1, .title .emoji {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .title-container {
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
  }
  
  .title h1, .title .emoji {
    font-size: 24px;
  }
}