.about .title{
    display: flex;
      position: relative;
      overflow: hidden;
      border-right: 3px solid;
      width: 0px;
      white-space: nowrap;
      animation: typewriter3 8s steps(40)  infinite alternate , blink3 0.5s steps(40) infinite;
      line-height: 1.3;
      margin-left: 5%;
      margin-top: 8%;
      margin-bottom: 5%;
      font-size: 40px;
    }
    
    .about .title h1 {
      font-size: 40px;
      font-weight: 700;
      background: linear-gradient(to right,#13c16a, #086235);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0;
      line-height: 1.3;
    }
    
    @keyframes typewriter3 {
      0% {
        width: 0%;
      }
      75% {
          width: 37%;
      }
      100% {
        width: 37%;
      }
    }
    
    @keyframes blink3 {
      0% {
        border-right-color: rgba(255,255,255,.75);
      }
      100% {
        border-right-color: transparent;
      }
    }


    .CV-btn {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        font-family: sans-serif;
        font-weight: 600;
        border-radius: 50px;
        border: 2px solid #13c16a;
        padding: 14px 40px 13px;
        overflow: hidden;
        position: relative;
        margin-left: 5em;
      }
      
      .CV-btn:hover {
        color: #13c16a;
      }
      
      .CV a::before {
        position: absolute;
        content: "";
        z-index: 0;
        background-color: #13c16a;
        left: -5px;
        right: -5px;
        bottom: -5px;
        height: 111%;
        transition: all .3s ease;
      }
      
      .CV a:hover::before {
        height: 11%;
      }
      
      .CV span {
        position: relative;
        z-index: 2;
        transition: all .3s ease;
      }


